.Header{
    grid-area: header;
    text-align: center;
    display: flex;
    justify-content: space-between;
    /* background-color: black; */
    /* color: azure; */
  }
  .Header img{
    width: 15%;
    height:100%;

  }
  .Header h1{
    font-size: 3rem;
    margin: auto;
    /* margin-top: 4vh; */
  }