.Footer{
    grid-area: Footer;
  }
  .footer{
    font-size: 10px;
    width: 100vw;
    /* background-color: black; */
    text-align: center;
    color: rgba(255, 196, 0, 0.808);
    height: 100%;
    display: flex;
    justify-content: space-evenly;
  }
  .footer img{
    width: 30px;
    height: 50%;
    border-radius: 50px;
    
  }
