.Footer{
    grid-area: Footer;
  }
  .footer{
    width: 100vw;
    background-color: black;
    text-align: center;
    color: aliceblue;
    height: 150px;
    margin-top: 23%;
    display: flex;
    justify-content: space-evenly;
  }
  .footer img{
    width: 30px;
    height: 30px;
    border-radius: 50px;
    margin-top: 30px;
  }
